<div class="header-container">
	<div class="left">
		<svg width="36" height="36" transform="rotate(90)"><use xlink:href="#arrow"/></svg>
	</div>
	<div class="middle">
		<img class="logo" src="./assets/images/stackoverflow-logo.png"/>
		<div class="tall">
			<img class="floating" src="./assets/images/THE.png"/>
			<img src="./assets/images/1.png"/>
		</div>
		<img class="tall" src="./assets/images/0.png"/>
		<span class="title">Most viewed questions of all time.</span>
		<a class="scroll-button" href="#content">
			<svg width="60" height="60">
				<circle cx="30" cy="30" r="29" stroke="white" stroke-width="2"/>
				<use width="30" height="30" transform="translate(15,15)" xlink:href="#arrow"/>
			</svg>
		</a>
		<div class="text">
			<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</span>
		</div>
	</div>
	<div class="right">
		<svg width="36" height="36" transform="rotate(270)"><use xlink:href="#arrow"/></svg>
	</div>
</div>